@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
:root {
    --darkblue05: #091B6F;
    --darkblue04: #0D28A6;
    --darkblue03: #5E70C4;
    --darkblue02: #AEB7E1;
    --darkblue01: #CFD4ED;
    --primarygreen05: #3D7B3F;
    --primarygreen04: #5CB85F;
    --primarygreen03: #92D094;
    --primarygreen02: #C9E7CA;
    --primarygreen01: #DEF1DF;
    --lg-font: 'Roboto', sans-serif;
    --sm--font: 'Sora', sans-serif;
}

*{
  margin: 0;
  padding: 0px;
}
body {
  font-family: var(--sm--font);
}
.header {
  background-color: #F1F3FF;
}
.navbar-brand {
  background-color: blue;
  padding: 5px;
  border-radius: 3px;
  color: white;
}

.navbar-brand a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 15px;
}

.navbar-nav {
  padding: 8px;
}
.nav-item a {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: black;
}
#utama {
  background-color: #091B6F;
}


.btn-regis {
  display: inline-block;
  background-color: var(--primarygreen04);
  color: white;
  padding: 5px;
  text-decoration: none;
  border: none;
  font-size: 16px;
  
}

.btn-regis:hover {
  background-color: var(--primarygreen04);
  color: black;
}




































/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
